<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake REST API data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <center><h1>Fake REST API data server</h1></center>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/demo">Demo</a></li>
        <li><a href="/users">User data</a></li>
        <li><a href="/posts">Post data</a></li>
    </ul>
    <center><h2>What is Fake REST API data server? </h2></center>
    <p>A fake REST API data server is a tool or service that simulates a real API server by providing mock data and responding to HTTP requests just like a real server would. It is commonly used for development, testing, and prototyping purposes when the actual API server is not available or not suitable for the current stage of development.

        The fake data server allows developers to create and test their applications without relying on a live API. It provides a way to simulate different API responses and scenarios, enabling developers to mimic the behavior of the actual API endpoints they plan to integrate with.</p>

    <footer>Made by <a href="https://davidkresila.pythonanywhere.com/">Dávid Krešila</a></footer>
</body>
</html>